iframe {
  display: none;
}

html {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

label,
button {
  cursor: pointer;
}

.error {
  color: red;
}

.field {
  // display: flex;
  // flex-direction: column;
  margin: 8px 0;
  &__label {
    margin: 4px 0;
    font-size: 0.8rem;
    font-weight: bold;
  }
}

.formBtn {
  margin: 8px 0;
  padding: 8px;
  width: 200px;
  border-radius: 4px;
  background-color: rgb(215, 247, 250);

  &:hover {
    background-color: rgb(173, 232, 237);
  }
}

.TodoInfo {
  width: max-content;
  padding: 8px;
  margin: 12px 0;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: antiquewhite;

  &__title {
    margin: 4px 0;
    font-size: inherit;
    color: #f00;
  }

  &--completed &__title {
    color: #080;
  }
}

.UserInfo {
  font-style: italic;
}
